.social {
   display: flex;
   margin-top: 1.5rem;
}

.social a {
   margin-right: 1.5rem;
}

.card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1rem;
   transition: 0.3s ease-in-out;
   background: var(--wisteria);
}

.card:hover {
   background: var(--bone);
}

.card:hover img {
   transform: scale(1.06);
}

.card img {
   width: 100px;
   border-radius: 50%;
   border: 5px solid #ebebeb;
   transition: .3s ease-in-out;
}

.card h3 {
   color: var(--main-bg);
   font-weight: 400;
   margin: 1rem 0 0.5rem;
}
.card h4 {
   color: var(--main-bg);
   font-weight: 300;
   opacity: 60%;
}

@media(max-width: 900px) {
   .card {
      font-size: 0.9rem;
   }

   .card img {
      width: 110px;
   }
}
