<style>
  .fullcard {
    border-radius: 10px;
    width: 80%;
    height: 475px;
    margin: 50px auto;
    background: linear-gradient(35deg, #511E6A, #9C138F, #B695CE)
  }
#thumbnail{
  box-shadow: 0 20px 20px rgba(0,0,0,0.19), 0 8px 10px rgba(0,0,0,0.23);
}
 h2 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    Margin: 10px;
    padding: 10px;
    font-size: 27px;
  }
  h3{
    text-align: justify;
    Margin: 8px;
  }
  p {
    text-align: justify;
    font-style: italic;
    margin: 8px;
  }
  .links {
    text-align: left;
    color: #B695CE;
  }
  .images {
    width: 75px;
    border-radius: 70%;
    text-align: right;
  }
  .thin-purple-border {
    border-color: #B695CE;
    border-width: 2px;
    border-style: solid;
  }
</style>

<div class="fullcard" id="thumbnail">
<h2> Mod Name Here</h2>
<img src="https://www.bit.ly/fcc-relaxing-cat" class="images thin-purple-border">
</img>
<h3>Languages:</h3>
<p><ul>
  <li>Html</li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
</p>
<h3>Projects:</h3>
<p><ul>
  <li> Website</li>
  <li> </li>
</ul>
</p>
<h3>Other Projects:</h3>
<p><ul>
  <li> Website</li>
  <li> </li>
  <li> </li>
  <li> </li>
</ul>
</p>
</div>
